

@import '../../../assets/scss/main';

.menu-wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/images/backgrounds/vote-background.jpg');
    background-size: cover;
  
    .menu-card {
      background-color: transparent;
      width: 38%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      -moz-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }

    .order-card {
      background-color: white;
      width: 500px;
      height: 310px;
      display: flex;
      flex-direction: column;
      margin: 40px;
      border-radius: 5%;
      -moz-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;

      .label-text {
        font-weight: bold;
        color: #009fe3;;
      }

      .input {
        width: 90%;
      }

      .button {
        background-color: #17406a;
        font-weight: bold;
        height: 40px;
        width: 150px;
        color: white;
        font-size: large;
      }
    }
}
