<div title="Freepik" class="vote-wrapper">
    <div title="" class="vote-card" [ngStyle]="{'padding': createPaddingValue()}">
        <div class="form-check" *ngFor="let voteOption of voteoptions.options">
            <label class="vote-option" >
                <input type="radio" [value]="voteOption" name="selectedVote" [(ngModel)]="selectedVote"/>
                {{voteOption.toUpperCase()}}
            </label>
        </div>
        <button class="btn btn-secondary" (click)="vote()">
            <span *ngIf="!loading">Vote</span>
            <span class="square-loader" *ngIf="loading"></span>
        </button>
    </div>
</div>
  